<input type="text" placeholder="Título" [(ngModel)]="trivia.title" />
<br />
<input type="text" placeholder="Descripción" [(ngModel)]="trivia.description" />
<br />
<ul>
  <li *ngFor="let question of trivia.questions; let i = index">
    <h3>pregunta número {{ i }}</h3>
    <input type="text" placeholder="pregunta" [(ngModel)]="question.question" />
    <br />
    <span>Nivel:</span>
    <select name="level" [(ngModel)]="question.level">
      <option value="hard">Hard</option>
      <option value="medium">Medium</option>
      <option value="easy">Easy</option>
    </select>
    <br />
    <span>Categoría:</span>
    <select name="categoría" [(ngModel)]="question.category">
      <option value="categoría1">categoría 1</option>
      <option value="categoría2">categoría 2</option>
      <option value="categoría3">categoría 3</option>
    </select>
    <button (click)="addOptionToQuestion(question)">Add option</button>
    <hr />
  </li>
</ul>
<button (click)="addQuestion()">Add question</button>
<button (click)="addTrivia()">Add trivia</button>
<app-trivia-admin></app-trivia-admin>
